
.itemsEnter {
	opacity: 0.01;
}

.itemsEnterActive {
	opacity: 1;
	transition: opacity 250ms ease-in;
}

.itemsLeave {
	opacity: 1;
}

.itemsLeaveActive {
	opacity: 0.01;
	transition: opacity 250ms ease-in;
}